:root {
  --body-padding-horizontal: 1.3rem;
  --header-nav-height: 2.4rem;
  --html-max-width: 44rem;
  --modern-colour: crimson;
  --modern-colour-mark: firebrick;
  --modern-font: Arimo, sans-serif;
  --olden-font: Caladea, Cambria, Tinos, serif;
}


:target {
  animation-duration: 1.5s;
  animation-name: temporary-highlight;
  animation-timing-function: ease-in;
}


@keyframes temporary-highlight {
  from {
    background: #ff4;
  }
  to {
    background: none;
  }
}


:lang(zh-Hant) {
  font-weight: normal;
}


a {
  text-decoration-thickness: 1px;
}


blockquote {
  border-left: 3px solid grey;
  margin-right: 0.5em;
  padding: 0 1em 0;
}


body {
  background: white;
  font-family: var(--modern-font);
  line-height: 1.6;
  margin: 0;
  overflow-wrap: break-word;
  padding: var(--header-nav-height) var(--body-padding-horizontal) 1.3rem;
}
body > nav, .radicals nav {
  font-size: 1.15rem;
}
body > nav li {
  margin: 0.33em 0;
}


dd {
  margin-left: 1.3em;
}
dd blockquote {
  margin: 0.6em 1.3em 0.7em;
  padding-left: 0.5em;
}
dd ol {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
}
dd p {
  margin: 0.15em;
}
dd ul {
  margin-top: 0;
  margin-bottom: 0.35em;
  padding-left: 1.3em;
}


del {
  text-decoration-color: var(--modern-colour);
  text-decoration-thickness: 2px;
}


dl {
  border: 1px solid var(--modern-colour);
  padding: 0.3em 0.6em;
  margin-left: 1em;
  margin-right: 1em;
}
dl + h2 {
  margin-top: 1.7em;
}
dl.modern {
  border: none;
  margin: 0;
  padding: 0 0.6em;
}
dl.modern dd {
  margin-left: 1.5em;
}


dt {
  font-weight: bold;
  margin-top: 0.33em;
}


footer {
  border-top: 2px solid black;
  margin-top: 3em;
  padding-top: 1em;
}
footer.modern {
  border-top: 2px solid var(--modern-colour);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 0.2em;
}
h2.modern {
  border-bottom: 1px solid var(--modern-colour);
}

h4 {
  margin-bottom: 0;
}


header {
  margin-left: calc(-1 * var(--body-padding-horizontal));
  max-width: var(--html-max-width);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
header > .sideways {
  font-size: calc(0.5 * var(--header-nav-height));
  margin: 0;
  padding: 0;
}
header > .sideways > ul {
  flex-wrap: nowrap;
  height: var(--header-nav-height);
  overflow: auto;
  white-space: nowrap;
}


html {
  background: black;
  max-width: var(--html-max-width);
  margin: 0 auto;
  scroll-padding-top: calc(1.3 * var(--header-nav-height));
}


input {
  font-size: 1em;
  max-width: 90%;
  padding: 0.2em;
  width: 16em;
}


li[id^='cantonese-'] {
  list-style-type: none;
  margin-left: -1em;
}
li[id^='cantonese-'] p {
  margin: 0.5em 0;
}
li[id^='cantonese-']:not(:last-child) {
  margin-bottom: 0.5em;
}
li[id^='cantonese-'] > ol {
  padding-left: 3em;
}
li[id^='cantonese-'] > ol > li {
  margin-top: 0.2em;
}


ins {
  color: var(--modern-colour);
}
ins.modern {
  text-decoration: none;
}


img {
  align-self: center;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


mark {
  background: #ffb;
}


sup {
  line-height: 0;
}


table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 0.4em;
}


.canonical {
  border-style: double;
  border-width: 3px;
}

.composition:active::after, .composition:hover::after {
  color: var(--modern-colour);
  content: '(' attr(title) ')';
  font-family: var(--modern-font);
}

.font-test {
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
.font-test img {
  height: 1.5em;
}

.footnotes p {
  margin: 0.5em 0;
}

.headword {
  font-size: 130%;
}

.image-container {
  text-align: center;
}

.input-container {
  border: 2px solid var(--modern-colour);
  margin: 1em 0;
  padding: 0.3em 1em;
}
.input-container p {
  margin: 0.5em 0;
}

.merged {
  text-align: center;
}

.modern {
  color: var(--modern-colour);
  font-family: var(--modern-font);
}
.modern mark {
  color: var(--modern-colour-mark);
}
.modern th, .modern td {
  border-color: var(--modern-colour);
}

h4 .permalink{
  background-size: 0.8em;
  padding-left: 1.3em;
}
.permalink {
  background-image: url(/res/styles/permalink.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}

.quoted p::before {
  content: '“';
}
.quoted p:last-of-type::after {
  content: '”';
}

.sideways {
  background: #fec;
}
.sideways > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 0.3rem;
}
.sideways > ul > li {
  font-weight: bold;
  padding: 0 0.7rem;
}

.sign-off {
  text-align: right;
}

.williams {
  color: black;
  font-family: var(--olden-font);
}

.title-information {
  font-size: 1.5em;
}

.wide {
  overflow-x: auto;
}
