:root{
  --body-padding-horizontal: 1.3rem;
  --header-nav-height: 3rem;
  --html-max-width: 44rem;
  --modern-colour: crimson;
  --modern-font: Arimo, sans-serif;
  --olden-font: Palatino, Tinos, serif;
}


:target {
  background: #ff4;
  padding: 0.1em 0.3em;
}


blockquote {
  border-left: 3px solid grey;
  padding: 0 1em 0;
}


body {
  background: white;
  font-family: var(--modern-font);
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  padding: var(--header-nav-height) var(--body-padding-horizontal) 1.3rem;
}
body > nav {
  font-size: 1.3rem;
}
body > nav li {
  margin: 0.33em 0;
}


dl {
  border: 1px solid black;
  padding: 0.3em 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}


dt {
  font-weight: bold;
}


footer {
  border-top: 2px solid black;
  margin-top: 3em;
  padding-top: 1em;
}
footer.modern {
  border-top: 2px solid var(--modern-colour);
}


h1 + h2, ins + h2 {
  margin-top: 1em;
}

h2 {
  border-bottom: 1px solid black;
  margin-top: 1.3em;
  padding-bottom: 0.2em;
}
h2.modern {
  border-bottom: 1px solid var(--modern-colour);
}


header {
  margin-left: calc(-1 * var(--body-padding-horizontal));
  max-width: var(--html-max-width);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
header > .sideways {
  font-size: calc(0.5 * var(--header-nav-height));
  margin: 0;
  padding: 0;
}
header > .sideways > ul {
  flex-wrap: nowrap;
  height: var(--header-nav-height);
  overflow: auto;
  white-space: nowrap;
}


html {
  background: black;
  max-width: var(--html-max-width);
  margin: 0 auto;
  scroll-padding-top: calc(1.3 * var(--header-nav-height));
}


li p {
  margin: 0.5em 0;
}


ins {
  text-decoration: none;
}


img {
  align-self: center;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


table {
  border-collapse: separate;
  border-spacing: 1px;
}
th, td {
  border: 1px solid black;
  padding: 0.4em;
}


.font-test {
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
.font-test img {
  height: 1.5em;
}

.footnotes p {
  margin: 0.5em 0;
}

.headword {
  font-size: 130%;
}

.image-container {
  text-align: center;
}

.merged {
  text-align: center;
}

.modern {
  color: var(--modern-colour);
  font-family: var(--modern-font);
}
.modern + dl {
  border: 1px solid var(--modern-colour);
}

.permalink {
  background-image: url(/res/styles/permalink.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}

.quoted p::before {
  content: '“';
}
.quoted p:last-of-type::after {
  content: '”';
}

.sideways {
  background: #fec;
}
.sideways > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 0.3rem;
}
.sideways > ul > li {
  font-weight: bold;
  padding: 0 0.7rem;
}

.sign-off {
  text-align: right;
}

.williams {
  color: black;
  font-family: var(--olden-font);
}

.title-information {
  font-size: 1.5em;
}

.wide {
  overflow-x: auto;
}
